@media screen and (max-width: 992px) {
    .fullscreen-bg {
        position: relative;
        background: url('../assets/img/banner2.png') no-repeat center center fixed;
        background-size: auto calc(100% - 90px);
        background-size: cover;
        max-width: 100vw;
        height: 100vh;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: auto;
        height: 100px;
    }

    .logo-colored img {
        width: auto;
        height: 50px;
    }


}