@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Rubik:wght@400;500&display=swap");

* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  font-family: Rubik;
}

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Rubik;
}

h2 {
  font-weight: 500;
}

body {
  background-color: #007bff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.close-button {
  width: 30px;
  height: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 20px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.close-button:hover {
  opacity: 0.85;
}

.letter-spacing {
  letter-spacing: 0.08em;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(35, 26, 113, 255);
  z-index: 9998;
}

.more-btn {
  background-color: #9fa6b2;
  text-decoration: none;
  color: rgba(35, 26, 113, 255);
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.navbar-des {
  background-color: transparent;
  color: #fff;
}

.navbar-colored {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.logo img {
  width: auto;
  height: 150px;
}

.logo-colored img {
  width: auto;
  height: 100px;
  margin-right: 10px;
}

.underline-effect {
  color: #0ea6f2;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}

.underline-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline-effect:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.underline-effect-colored {
  color: #18272f;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}

.underline-effect-colored::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline-effect-colored:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.underline {
  border-bottom: 3px solid;
  border-color: rgb(79, 79, 76);
  padding-bottom: 2px;
}

.fullscreen-bg {
  position: relative;
  background: url("../assets/img/banner.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgapplied {
  background: url("../assets/img/newbg.png") no-repeat center center;
  background-size: cover;
}

.nav-links {
  margin-right: 10px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}

.nav-links li a:hover {
  color: rgb(79, 79, 76);
}

.active li a {
  color: #007bff;
}

.nav-links-colored {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.nav-links-colored li a {
  color: #403799;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}

.nav-links li a:hover {
  color: rgb(255, 255, 255);
}

.nav-mob-links {
  list-style: none;
  text-align: center;
  padding-right: 5%;
}

.nav-mob-links li {
  margin-bottom: 10%;
}

.nav-mob-links li a {
  color: #fff;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-size: x-large;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.nav-mob-links-active {
  color: #aaa;
}

.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.btnfos-1,
.btnfos-2 {
  background: rgb(79, 79, 76);
  font-weight: 100;
}

.btnfos-1 svg,
.btnfos-2 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

.btnfos-1 rect,
.btnfos-2 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(255, 255, 255, 0);
  letter-spacing: 1px;
  font-weight: 900;
  color: #ffffff;
}

.btnfos-2:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
  color: #000;
}

.btnfos-1:hover rect,
.btnfos-2:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.off-white {
  background-color: #f6eee3;
}

.off-white-2 {
  background-color: #e7e0d3;
}

.off-white-3 {
  background-color: #f4f0e0;
}

.horizontal-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.toggler-icon-colored {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Footer Basic */

.footer-basic {
  bottom: 0px;
  padding: 40px 0;
  color: #ffffff;
}

.footer-basic ul {
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
  transition-duration: 0s;
}

.footer-basic ul a:hover {
  transition-duration: 0.1s;
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 15px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.7;
}

.footer-basic .social > a:hover {
  transition-duration: 0.1s;
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* Footer Ends Here */

/* banners */

.banner1 {
  background-color: hsla(0, 3%, 37%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(279, 0%, 38%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(188, 2%, 13%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 45%, hsla(354, 1%, 44%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(15, 3%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(240, 1%, 32%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(335, 0%, 54%, 1) 0px, transparent 50%);
  height: 30vh;
  width: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner2 {
  background-color: hsla(0, 0%, 30%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(0, 0%, 38%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(8, 17%, 43%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(0, 16%, 23%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(240, 8%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0, 18%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(0, 15%, 29%, 0.88) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 7%, 43%, 1) 0px, transparent 50%);
  height: 30vh;
  width: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner3 {
  background-color:hsla(0,0%,30%,1);
  background-image:
  radial-gradient(at 4% 100%, hsla(6,37%,7%,0.6) 0px, transparent 50%),
  radial-gradient(at 92% 24%, hsla(16,0%,33%,0.9) 0px, transparent 50%),
  radial-gradient(at 100% 100%, hsla(20,0%,100%,0.43) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(187,0%,0%,0.36) 0px, transparent 50%);
  height: 30vh;
  width: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner4 {
  background-color:hsla(0,0%,29%,1);
  background-image:
  radial-gradient(at 86% 67%, hsla(85,6%,38%,1) 0px, transparent 50%),
  radial-gradient(at 34% 14%, hsla(45,3%,40%,1) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(341,0%,29%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(342,0%,50%,1) 0px, transparent 50%);
  height: 30vh;
  width: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  font-size: 64px;
}

.google-map {
  position: relative;
  height: 50%;
  vertical-align: middle;
  justify-content: center;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
}

.whole-page {
  flex: 1;
}

.footer-position {
  margin-top: auto;
}

/* ///////////////////////////////////////////////////////////// */

#contact {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  font-weight: 400;
}

.form-control,
textarea {
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 100%;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: 0px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #000000;
  text-decoration: none;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

.download-btn {
  display: block;
  width: 75%;
  text-align: center;
  color: white;
}

.download-btn:hover {
  text-decoration: none;
  color: #9fa6b2;
}

.no-space {
  line-height: 2;
}

/* Events */

.home {
  position: relative;
  opacity: 0;
  z-index: 2;
  transition: 1s all;
}
.home.current {
  opacity: 1;
}

.events {
  width: 70%;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  transition: 0.0s all;
}
.events p {
  margin: 20px 0;
}

.list-item-new {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  border-top: 1px solid #e8e8e8;
  transition: 1s all;
  transition: 0.3s all;
}

.list-item-new:last-child {
  border-bottom: 1px solid #e8e8e8;
  transition: 0.3s all;
}

.overlay-list .list-item-new {
  position: absolute;
  bottom: 0;
  border: 0;
  transform: translateX(50%);
  transition: 0.3s all;
}

.list-item-new:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -20px;
  padding: 0 20px;
  background: transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  transition: 0.3s all;
  transform: scaleY(0.1);
  z-index: 1;
}

.home .list-item-new:hover:after {
  transform: scaleY(1);
  background-color:hsla(0,0%,52%,1);
  background-image:
  radial-gradient(at 0% 100%, hsla(240,15%,55%,0.53) 0px, transparent 50%),
  radial-gradient(at 72% 0%, hsla(60,7%,51%,0.29) 0px, transparent 50%);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  transition: 0.3s all;
}

.list-item-new > * {
  position: relative;
  z-index: 2;
  transition: 0.3s all;
}

.list-item-new .date {
  width: 20%;
  margin-left: -20%;
  padding-right: 10%;
  box-sizing: border-box;
  text-align: center;
  transition: 0.3s all;
}

.overlay-list .list-item-new .date {
  color: white;
  transition: 0.3s all;
}

.home .list-item-new:hover .date {
  color: rgb(154, 154, 147);
  transition: 0.3s all;
}

.list-item-new .date-day {
  font-size: 30px;
}

.list-item-new .info {
  padding: 20px;
  margin-left: -20px;
}

.home .list-item-new:hover .info,
.overlay-list .list-item-new .info {
  color: white;
  transition: 0.3s all;
}

.list-item-new .info-time {
  font-size: 14px;
  margin-bottom: 6px;
}

.list-item-new .info-title {
  font-size: 24px;
  line-height: 140%;
}


/* Gallery */


#gallery{
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
  
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}

#gallery img {
  width:100%;
  height:auto;
  margin: 4% auto;
  box-shadow:-3px 5px 15px #000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  object-fit: cover;
}


/* ACHIEVEMENTS */

.achievement-div {
  border: #000 solid 1px;
  width: 80%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  height: fit-content;
}

.achievement-div:hover {
  translate: -5px -5px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.achievement-header {
  font-size: 36px;
}

.achievement-body {
  padding-top: 10px;
}

.achievement-body ul {
  list-style: none;
}

.achievement-body ul li span{
  padding-left: 10px;
}

.achievement-body ul li{
  margin-top: 8px;
}

.achievement-corousel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
}